<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="onLogIn()">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><i class="fas fa-at"></i></span>
      </div>
      <input type="text" class="form-control" formControlName="email" placeholder="Email" aria-describedby="sizing-addon2">
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><i class="fas fa-pencil-alt"></i></span>
      </div>
      <input type="password" class="form-control" formControlName="pass" placeholder="Password" aria-describedby="sizing-addon2">
    </div>
    <div class="form-group">
        <button class="btn btn-primary btn-xl">Log In</button>
        <a class="" (click)="showPopUp()" >or SignUp</a>
    </div>
  </form>


  <div class="pop-up" [ngClass]="{hidden: !displaySignUpForm}">
    <button class="btn btn-primary btn-s btn-close" (click)="onClose()"><i class="fas fa-times"></i></button>
    <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><i class="fas fa-at"></i></span>
        </div>
        <input type="text" class="form-control" formControlName="emailSignUp" placeholder="Email" aria-describedby="sizing-addon2">
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><i class="fas fa-pencil-alt"></i></span>
        </div>
        <input type="password" class="form-control" formControlName="passSignUp" placeholder="Password" aria-describedby="sizing-addon2">
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><i class="fas fa-pencil-alt"></i></span>
        </div>
        <input type="password" class="form-control" formControlName="passSignUpRepeat" placeholder="Password again" aria-describedby="sizing-addon2">
      </div>
      <div class="form-group">
          <button class="btn btn-primary btn-xl">Sign Up</button>
      </div>
    </form>
  </div>
</div>