<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="onLogIn()">
    <div class="form-group">
        <input type="text" formControlName="email" class="form-control" placeholder="Email"/>
        <input type="text" formControlName="pass" class="form-control" placeholder="Password"/>
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">@</span>
      </div>
      <input type="text" class="form-control" placeholder="Email" aria-describedby="sizing-addon2">
    </div>
    <div class="form-group">
        <button class="btn btn-primary btn-xl">Log In</button>
        <a class="" (click)="showPopUp()" >or SignUp</a>
    </div>
  </form>
  <div class="pop-up" [ngClass]="{hidden: !displaySignUpForm}">
    <button class="btn btn-primary btn-s btn-close" (click)="close()"><i class="material-icons">close</i></button>
    <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()">
      <div class="form-group">
          <input type="text" formControlName="emailSignUp" class="form-control" placeholder="Email"/>
      </div>
      <div class="form-group">
          <input type="text" formControlName="passSignUp" class="form-control" placeholder="Password"/>
      </div>
      <div class="form-group">
          <input type="text" formControlName="passSignUpRepeat" class="form-control" placeholder="Password again"/>
      </div>
      <div class="form-group">
          <button class="btn btn-primary btn-xl">Sign Up</button>
      </div>
    </form>
  </div>
</div>